<div class="title-header option-title mb-3">
    <div class="row">
        <div class="col">
            <h3>{{act | uppercase}} EMPLOYEE</h3>
        </div>
    </div>
</div>

<app-toast #toast></app-toast>

<div class="mt-3 card card-table">
    <div class="card-body p-5">
        <form [formGroup]="formEmployee">
            <div class="row">
                <div class="col-6">
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" formControlName="username" class="form-control" id="username"
                            [readOnly]="act == 'detail'">
                        @if (formEmployee.get('username')?.touched &&
                        formEmployee.get('username')?.errors?.['required']) {
                        <div class="text-danger small my-1">Username is required</div> }
                    </div>
                </div>
                <div class="col-6">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" formControlName="email" class="form-control" id="email"
                            [readOnly]="act == 'detail'">
                        @if (formEmployee.get('email')?.touched) {
                        @if (formEmployee.get('email')?.errors?.['required']) {
                        <div class="text-danger small my-1">Email is required</div>
                        }
                        @else if (formEmployee.get('email')?.errors?.['email']) {
                        <div class="text-danger small my-1">Email is not valid</div>
                        }
                        }

                    </div>
                </div>
            </div>
            <div class="mt-2 row">
                <div class="col-6">
                    <div class="mb-6">
                        <label for="firstName" class="form-label">First Name</label>
                        <input type="text" formControlName="firstName" class="form-control" id="firstName"
                            [readOnly]="act == 'detail'">
                        @if (formEmployee.get('firstName')?.touched &&
                        formEmployee.get('firstName')?.errors?.['required']) {
                        <div class="text-danger small my-1">First Name is required</div> }
                    </div>
                </div>
                <div class="col-6">
                    <div class="mb-6">
                        <label for="lastname" class="form-label">Last Name</label>
                        <input type="text" formControlName="lastName" class="form-control" id="lastName"
                            [readOnly]="act == 'detail'">
                        @if (formEmployee.get('lastName')?.touched &&
                        formEmployee.get('lastName')?.errors?.['required']) {
                        <div class="text-danger small my-1">Last Name is required</div> }
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="mb-3 mt-4">
                        <label for="birthDate" class="form-label">Birth Date</label>
                        <input type="date" formControlName="birthDate" class="form-control" id="birthDate"
                            [max]="tomorrow" [readOnly]="act == 'detail'">
                        @if (formEmployee.get('birthDate')?.touched &&
                        formEmployee.get('birthDate')?.errors?.['required']) {
                        <div class="text-danger small my-1">Birth Date is required</div> }
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="mb-3">
                        <label for="salary" class="form-label">Salary</label>
                        <input type="text" formControlName="basicSalary" class="form-control" id="salary"
                            [readOnly]="act == 'detail'">
                        @if (formEmployee.get('basicSalary')?.touched &&
                        formEmployee.get('basicSalary')?.errors?.['required']) {
                        <div class="text-danger small my-1">Salary is required</div> }
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="mb-3">
                        <label for="status" class="form-label">Status</label>
                        @if(act == 'update' || act == 'create'){
                        <select class="form-select" formControlName="status" aria-label="Default select example">
                            <option selected>Select Status</option>
                            @for(st of status; track st.name){
                            <option value="{{st.name}}">{{st.name}}</option>
                            }
                        </select>
                        @if (formEmployee.get('status')?.touched &&
                        formEmployee.get('status')?.errors?.['required']) {
                        <div class="text-danger small my-1">Status is required</div> }
                        }
                        @if(act == 'detail'){
                        <input type="text" formControlName="status" class="form-control" id="status"
                            [readOnly]="act == 'detail'">
                        }
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="mb-3">
                        <label class="mb-2">Group</label>
                        @if(act == 'update' || act == 'create'){
                        <ng-select [items]="employees" bindLabel="name" bindValue="name" class="form-control"
                            name="employee" formControlName="group" [searchable]="true" placeholder="Cari employee...">
                        </ng-select>
                        @if (formEmployee.get('group')?.touched &&
                        formEmployee.get('group')?.errors?.['required']) {
                        <div class="text-danger small my-1">Group is required</div> }
                        }
                        @if(act == 'detail'){
                        <input type="text" formControlName="group" class="form-control" id="group"
                            [readOnly]="act == 'detail'">
                        }
                    </div>
                </div>
            </div>

            <div class="d-flex flex-row">
                <div class="mb-3">
                    @if(act == 'create'){
                    <button [disabled]="!formEmployee.valid" class="me-2 btn btn-gen" (click)="createEmployee()">
                        SAVE
                    </button>
                    }
                    @if(act == 'update'){
                    <button [disabled]="!formEmployee.valid" class="me-2 btn btn-gen" (click)="updateEmployee()">
                        UPDATE
                    </button>
                    }
                    @if(act == 'update' || act == 'create'){
                    <button routerLink="/admin/employee/all" routerLinkActive="active" class="btn btn-cancel">
                        CANCEL
                    </button>
                    }
                    @if(act == 'detail'){
                    <button (click)="backTo()" class="btn btn-gen">
                        OK
                    </button>
                    }

                </div>
            </div>

        </form>


    </div>
</div>