<div class="login-container d-flex align-items-center justify-content-center vh-100">
    <div class="login-card p-4 shadow-lg">
        <h2 class="text-center mb-4">Welcome Back !</h2>
        <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input name="username" id="username" formControlName="username" class="form-control custom-input"
                    placeholder="username">

                @if (formLogin.get('username')?.touched && formLogin.get('username')?.invalid){
                @if (formLogin.get('username')?.errors?.['required']) {
                <div class="text-danger small my-1">Username is required</div>
                }
                }

            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input name="password" type="password" id="password" formControlName="password"
                    class="form-control custom-input" placeholder="password">
            </div>

            <button type="submit" [disabled]="!formLogin.valid" class="btn btn-login w-100" >Login</button>

        </form>
    </div>
</div>