/* You can add global styles to this file, and also import other style files */
/* .btn-login {
    color: #fff;
    background-color: #12304F;
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
}

.btn-login:hover {
  background-color: inherit !important;
  color: inherit !important;
  border-color: inherit !important;
} */